<div class="loading" *ngIf="!gen.app_component_id"></div>
<ts-notification [notifSuccess]='notif.success' [notifAlert]='notif.alert' [notifError]='notif.error'
  [notifInfo]='notif.info' [notifWarn]='notif.warn'> </ts-notification>

<div class="animated fadeIn display-inherit">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header font-larger">
          <a href="javascript:void(0)" class="ts-a-title" (click)="refreshComponent()"><i class=" fa fa-refresh"> </i>
            {{gen._title}}</a>
          <div class="card-trans-code ts-hide-mobile">
            <form class="form-horizontal" [formGroup]="formWidget">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
                <input type="text" class="form-control ts-clear-bg ts-text-center" id="widget_code"
                  placeholder="{{gen._code}}" formControlName="widget_code" [disabled]="true">
                <span class="input-group-addon" *ngIf="formWidget.value.widget_id != ''">
                  <label class="switch switch-sm switch-text switch-info float-right mb-0">
                    <input type="checkbox"
                      (click)="isUseChange('widget', formWidget.value.is_use, formWidget.value.widget_id, 'widget_id')"
                      class="switch-input" formControlName="is_use">
                    <span class="switch-label" data-on="On" data-off="Off"></span>
                    <span class="switch-handle"></span>
                  </label>
                </span>
              </div>
            </form>
          </div>
        </div>
        <div class="card-block" style="padding: 0.5rem 1.25rem;">
          <div class="row">
            <div class="form-group col-sm-3 ts-show-mobile" style="margin-bottom: 0rem;">
              <form class="form-horizontal" [formGroup]="formWidget">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
                  <input type="text" class="form-control ts-clear-bg ts-text-center" id="widget_code"
                    placeholder="{{gen._code}}" formControlName="widget_code" [disabled]="true">
                  <span class="input-group-addon" *ngIf="formWidget.value.widget_id != ''">
                    <label class="switch switch-sm switch-text switch-info float-right mb-0">
                      <input type="checkbox"
                        (click)="isUseChange('widget', formWidget.value.is_use, formWidget.value.widget_id, 'widget_id')"
                        class="switch-input" formControlName="is_use">
                      <span class="switch-label" data-on="On" data-off="Off"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </span>
                </div>
              </form>
            </div>
            <div class="form-group col-sm-12" style="margin-bottom: 0rem;">
              <button type="submit" class="btn btn-primary btn-sm2" [disabled]="!formWidget.valid"
                (click)="submitFormWidget()"><i class="fa fa-plus"></i> {{gen.btn_add}}</button>
              <button type="submit" class="btn btn-warning btn-sm2" [disabled]="formWidget.value.widget_id == ''"
                (click)="deleteWidget()"><i class="fa fa-trash"></i> {{gen.btn_delete}}</button>
              <button type="submit" class="btn btn-success btn-sm2" (click)="modalShow()"><i class="fa fa-search"></i>
                {{gen.btn_search}}</button>
              <button type="submit" class="btn btn-secondary btn-sm2" (click)="clearAll()"><i class="fa fa-eraser"></i>
                {{gen.btn_clear}}</button>
              <button type="submit" (click)="printConsoleForm()" *ngIf="printConsole">Print Console</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="animated fadeIn display-inherit">
  <div class="row">

    <div class="col-lg-6">
      <div class="card">
        <div class="card-block">
          <div class="vertical-scroll" style="max-height: 100%">

            <form class="form-horizontal" [formGroup]="formWidget">

              <div class="form-group row {{(formWidget.controls.name.status == 'INVALID')?'has-warning':''}}">
                <label for="name" class="col-sm-4 text-right form-form-control-label">{{gen.at_name}}</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="name" placeholder="{{gen.ph_name}}"
                    formControlName="name">
                </div>
              </div>
              <div class="form-group row {{(formWidget.controls.description.status == 'INVALID')?'has-warning':''}}">
                <label for="description"
                  class="col-sm-4 text-right form-form-control-label">{{gen.at_description}}</label>
                <div class="col-sm-6">
                  <textarea type="text" class="form-control" id="description" placeholder="{{gen.ph_description}}"
                    formControlName="description"></textarea>
                </div>
              </div>
              <div class="form-group row {{(formWidget.controls.file_name.status == 'INVALID')?'has-warning':''}}">
                <label for="filename" class="col-sm-4 text-right form-form-control-label">{{gen.at_file}}</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="file_name" placeholder="{{gen.ph_filename}}"
                    formControlName="file_name">
                </div>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card">
        <div class="card-block">
          <div class="vertical-scroll" style="max-height: 100%">

            <form class="form-horizontal" [formGroup]="formWidgetDetail" (ngSubmit)="submitFormWidgetDetail()">

              <div class="form-group row">
                <label for="widget_detail_category_id"
                  class="col-sm-4 text-right form-form-control-label">{{gen.at_category}}</label>
                <div class="col-sm-6">
                  <select class="form-control" id="widget_detail_category_id"
                    formControlName="widget_detail_category_id">
                    <option *ngFor="let item of widgetDetailCategory" value="{{item.widget_detail_category_id}}">
                      {{item.widget_detail_category_id}}</option>
                  </select>
                </div>
              </div>
              <div
                class="form-group row {{(formWidgetDetail.controls.widget_detail_default.status == 'INVALID')?'has-warning':''}}">
                <label for="widget_detail_default"
                  class="col-sm-4 text-right form-form-control-label">{{gen.at_default}}</label>
                <div class="col-sm-6">
                  <textarea class="form-control" id="widget_detail_default" formControlName="widget_detail_default"
                    placeholder="{{gen.ph_default}}"> </textarea>
                </div>
              </div>
              <div
                class="form-group row {{(formWidgetDetail.controls.description.status == 'INVALID')?'has-warning':''}}">
                <label for="description"
                  class="col-sm-4 text-right form-form-control-label">{{gen.at_description2}}</label>
                <div class="col-sm-6">
                  <textarea class="form-control" id="description" placeholder="{{gen.ph_description2}}"
                    formControlName="description">  </textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="offset-sm-2 col-sm-6">
                  <button type="submit" class="btn btn-primary" [disabled]="!formWidgetDetail.valid"
                    *ngIf="formWidgetDetail.value.widget_detail_id == ''">{{gen.btn_add2}}</button>
                  <button type="submit" class="btn btn-warning" [disabled]="!formWidgetDetail.valid"
                    *ngIf="formWidgetDetail.value.widget_detail_id != ''">{{gen.btn_edit2}}</button>
                  <button class="btn btn-danger" *ngIf="formWidgetDetail.value.widget_detail_id != ''"
                    (click)="cancelWidgetDetail()">{{gen.btn_cancel2}}</button>
                  <button class="btn btn-danger" *ngIf="formWidgetDetail.value.widget_detail_id != ''"
                    (click)="deleteWidgetDetail()">{{gen.btn_delete2}}</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="vertical-scroll" style="max-height: 100%">

            <table class="table table-responsive table-striped table-sm">
              <thead>
                <tr class="text-center">
                  <th>{{gen.th_action}}</th>
                  <th class="table-id">{{gen.th_no}}</th>
                  <th>{{gen.th_category}}</th>
                  <th>{{gen.th_default_value}}</th>
                  <th>{{gen.th_description}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of widgetDetails; let i = index;">
                  <td>
                    <button ngClass="btn btn-warning btn-sm" (click)="editWidgetDetail(item)">{{gen.td_select}}</button>
                  </td>
                  <td class="table-id">{{i+1}}</td>
                  <td>{{item.widget_detail_category_id}}</td>
                  <td>{{item.widget_detail_default | slice:0:150}}</td>
                  <td>{{item.description}}</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="animated fadeIn display-inherit">
  <div class="row">
    <div class="col-lg-12">
      <ts-bydatetime 
        [report_id]="46" 
        [data]="formWidget.value"
      ></ts-bydatetime>
    </div>
  </div>
</div>

<!-- MODAL SEARCH -->
<div bsModal #childModal="bs-modal" class="modal  fade" [config]="{'backdrop':'static', 'keyboard': false}"
  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{gen._titleM1}}</h5>
        <button class="btn btn-outline-danger" (click)="childModal.hide()" aria-label="Close"
          type="button">{{gen.btn_closeM1}}</button>
      </div>
      <div class="modal-body">
        <div class="vertical-scroll" style="max-height: 100%">
          <div class="vertical-scroll" style="max-height: 100%">
            <table class="table table-responsive table-striped table-sm">
              <thead>
                <tr class="text-center">
                  <th>{{gen.th_action2}}</th>
                  <th class="table-id">{{gen.th_no2}}</th>
                  <th>{{gen.th_name2}}</th>
                  <th>{{gen.th_description2}}</th>
                  <th>{{gen.th_filename2}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of ModalWidget; let i= index;">
                  <td>
                    <button ngClass="btn btn-warning btn-sm"
                      (click)="ModalSelectWidget(item)">{{gen.td_select2}}</button>
                  </td>
                  <td class="table-id">{{i+1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.description}}</td>
                  <td>{{item.file_name}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>