<div class="loading" *ngIf="!gen.app_component_id"></div>
<ts-notification [notifSuccess]='notif.success' [notifAlert]='notif.alert' [notifError]='notif.error'
  [notifInfo]='notif.info' [notifWarn]='notif.warn'> </ts-notification>

<div class="animated fadeIn display-inherit">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header font-larger">
          <a href="javascript:void(0)" class="ts-a-title" (click)="refreshComponent()"><i class=" fa fa-refresh"> </i>
            {{gen._title}}</a>
          <div class="card-trans-code ts-hide-mobile">
            <form class="form-horizontal" [formGroup]="formPos_stand">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
                <input type="text" class="form-control ts-clear-bg ts-text-center" id="pos_stand_code"
                  placeholder="{{gen._code}}" formControlName="pos_stand_code" [disabled]="true">
                <span class="input-group-addon" *ngIf="formPos_stand.value.pos_stand_id != ''">
                  <label class="switch switch-sm switch-text switch-info float-right mb-0">
                    <input type="checkbox"
                      (click)="isUseChange('pos_stand', formPos_stand.value.is_use, formPos_stand.value.pos_stand_id, 'pos_stand_id')"
                      class="switch-input" formControlName="is_use">
                    <span class="switch-label" data-on="On" data-off="Off"></span>
                    <span class="switch-handle"></span>
                  </label>
                </span>
              </div>
            </form>
          </div>
        </div>
        <div class="card-block" style="padding: 0.5rem 1.25rem;">
          <div class="row">
            <div class="form-group col-sm-3 ts-show-mobile" style="margin-bottom: 0rem;">
              <form class="form-horizontal" [formGroup]="formPos_stand">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
                  <input type="text" class="form-control ts-clear-bg ts-text-center" id="pos_stand_code"
                    placeholder="{{gen._code}}" formControlName="pos_stand_code" [disabled]="true">
                  <span class="input-group-addon" *ngIf="formPos_stand.value.pos_stand_id != ''">
                    <label class="switch switch-sm switch-text switch-info float-right mb-0">
                      <input type="checkbox"
                        (click)="isUseChange('pos_stand', formPos_stand.value.is_use, formPos_stand.value.pos_stand_id, 'pos_stand_id')"
                        class="switch-input" formControlName="is_use">
                      <span class="switch-label" data-on="On" data-off="Off"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </span>
                </div>
              </form>
            </div>
            <div class="form-group col-sm-12" style="margin-bottom: 0rem;">
              <button type="submit" class="btn btn-primary btn-sm2" [disabled]="!formPos_stand.valid"
                *ngIf="formPos_stand.value.pos_stand_id == ''" (click)="pos_standSubmit()"><i class="fa fa-plus"></i>
                {{gen.btn_add}}</button>
              <button type="submit" class="btn btn-warning btn-sm2" [disabled]="!formPos_stand.valid"
                *ngIf="formPos_stand.value.pos_stand_id != ''" (click)="pos_standSubmit()"><i class="fa fa-edit "></i>
                {{gen.btn_update}}</button>
              <button type="submit" class="btn btn-danger btn-sm2" *ngIf="formPos_stand.value.pos_stand_id != ''"
                [disabled]="!formPos_stand.valid" (click)="pos_standDelete()"><i class="fa fa-trash"></i>
                {{gen.btn_delete}}</button>
              <button type="submit" class="btn btn-secondary btn-sm2" (click)="clearAll()"><i class="fa fa-eraser"></i>
                {{gen.btn_clear}}</button>
              <button type="submit" (click)="printConsoleForm()" *ngIf="printConsole">Print Console</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="animated fadeIn display-inherit small-input">
  <div class="row">

    <div class="col-lg-4">
      <div class="card">
        <div class="card-block">
          <div class="row">

            <div class="form-group col-sm-12">
              <form class="form-horizontal" [formGroup]="formPos_stand">

                <div class="form-group row">
                  <label for="pos_stand_id" class="col-sm-4 text-right form-form-control-label">{{gen.at_code}}</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="pos_stand_id" placeholder="{{gen.ph_code}}"
                      [readonly]="disableInput.pos_stand_id" formControlName="pos_stand_id">
                  </div>
                </div>
                <div
                  class="form-group row {{(formPos_stand.controls.pos_stand.value.status == 'INVALID')?'has-warning':''}}">
                  <label for="pos_stand"
                    class="col-sm-4 text-right form-form-control-label">{{gen.at_pos_stand}}</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="pos_stand" placeholder="{{gen.ph_pos_stand}}"
                      formControlName="pos_stand">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="branch_id" class="col-sm-4 text-right form-form-control-label">{{gen.at_branch}}</label>
                  <div class="col-sm-8">
                    <select class="form-control" formControlName="branch_id">
                      <option *ngFor="let item of branchData" value="{{item.branch_id}}">{{item.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row {{(formPos_stand.controls.positions.status == 'INVALID')?'has-warning':''}}">
                  <label for="positions" class="col-sm-4 text-right form-form-control-label">{{gen.at_position}}</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="positions" placeholder="{{gen.ph_position}}"
                      formControlName="positions">
                  </div>
                </div>
                <div
                  class="form-group row {{(formPos_stand.controls.description.status == 'INVALID')?'has-warning':''}}">
                  <label for="description"
                    class="col-sm-4 text-right form-form-control-label">{{gen.at_description}}</label>
                  <div class="col-sm-8">
                    <textarea type="text" class="form-control" id="description" placeholder="{{gen.ph_description}}"
                      formControlName="description"></textarea>
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="card">
        <div class="card-block">
          <div class="row">

            <div class="table-responsive"></div>
            <table class="table table-responsive table-hover table-outline mb-0">
              <thead class="thead-default">
                <tr class="text-center">
                  <th><i class="fa fa-sort-numeric-asc"></i></th>
                  <th>{{gen.th_action}}</th>
                  <th>{{gen.th_pos_stand}}</th>
                  <th>{{gen.th_company}}</th>
                  <th>{{gen.th_position}}</th>
                  <th>{{gen.th_description}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of pos_standData; let i = index">
                  <td class="text-center">{{i+1}}</td>
                  <td><button class="btn btn-sm btn-warning" (click)="editPos_stand(item)">{{gen.td_edit}}</button></td>
                  <td>{{item.pos_stand}}</td>
                  <td class="text-center">{{item.name}}</td>
                  <td>{{item.positions}}</td>
                  <td>{{item.description}}</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

  </div>


</div>

<div class="animated fadeIn display-inherit">
  <div class="row">
    <div class="col-lg-12">
      <ts-bydatetime 
        [report_id]="38" 
        [data]="formPos_stand.value"
      ></ts-bydatetime>
    </div>
  </div>
</div>