<div class="loading" *ngIf="!gen.app_component_id"></div>
<ts-notification [notifSuccess]='notif.success' [notifAlert]='notif.alert' [notifError]='notif.error'
  [notifInfo]='notif.info' [notifWarn]='notif.warn'> </ts-notification>

<div class="form-group">
  <button type="submit" class="btn btn-primary" (click)="modalShow('')"
    *ngIf="businesspartnerOrder != ''">{{gen.btn_newcontact}}</button>
</div>
<table class="table table-responsive table-striped table-sm">
  <thead>
    <tr class="text-center">
      <th>{{gen.th_Action}}</th>
      <th class="table-id">{{gen.th_No}}</th>
      <th>{{gen.th_Name}}</th>
      <th>{{gen.th_position}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of contact; let i = index;">
      <td>
        <button ngClass="status-button btn btn-sm btn-warning" (click)="modalShow(item)">{{gen.td_Edit}}</button>
      </td>
      <td class="table-id">{{i+1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.positions}}</td>
    </tr>
  </tbody>
</table>

<!-- MODAL CONTACT DETAIL -->
<div bsModal #childModal="bs-modal" class="modal  fade" [config]="{'backdrop':'static', 'keyboard': false}"
  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ModalHeader}}</h5>
        <button class="btn btn-outline-danger" (click)="childModal.hide()" aria-label="Close"
          type="button">{{gen._closeM1}}</button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" [formGroup]="ModalFormContact" (ngSubmit)="ModalFormSubmit()">

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row {{(ModalFormContact.controls.name.status == 'INVALID')?'has-warning':''}}">
                <label for="name" class="col-sm-4 text-right form-form-control-label">{{gen.at_Name}}</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="name" placeholder="{{gen.ph_Name}}"
                    formControlName="name">
                </div>
              </div>
              <div
                class="form-group row {{(ModalFormContact.controls.positions.status == 'INVALID')?'has-warning':''}}">
                <label for="positions" class="col-sm-4 text-right form-form-control-label">{{gen.at_Position}}</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="positions" placeholder="{{gen.ph_Position}}"
                    formControlName="positions">
                </div>
              </div>
              <div class="form-group row {{(ModalFormContact.controls.address.status == 'INVALID')?'has-warning':''}}">
                <label for="address" class="col-sm-4 text-right form-form-control-label">{{gen.at_Address}}</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="address" placeholder="{{gen.ph_Address}}"
                    formControlName="address">
                </div>
              </div>
              <div class="form-group row {{(ModalFormContact.controls.telp1.status == 'INVALID')?'has-warning':''}}">
                <label for="telp1" class="col-sm-4 text-right form-form-control-label">{{gen.at_Telp1}}</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="telp1" placeholder="{{gen.ph_Telp1}}"
                    formControlName="telp1">
                </div>
              </div>
              <div class="form-group row" style="text-align:left">
                <div class="offset-sm-2 col-sm-10">
                  <button class="btn btn-primary" [disabled]="!ModalFormContact.valid"
                    *ngIf="ModalFormContact.value.businesspartner_contact_id == ''">{{gen.btn_Add}}</button>
                  <button class="btn btn-warning" [disabled]="!ModalFormContact.valid"
                    *ngIf="ModalFormContact.value.businesspartner_contact_id != ''">{{gen.btn_Edit}}</button>
                  <button class="btn btn-danger" (click)="ModalDeleteContact()"
                    *ngIf="ModalFormContact.value.businesspartner_contact_id != ''">{{gen.btn_Delete}}</button>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row {{(ModalFormContact.controls.email.status == 'INVALID')?'has-warning':''}}">
                <label for="email" class="col-sm-4 text-right form-form-control-label">{{gen.at_Email}}</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="email" placeholder="{{gen.ph_Email}}"
                    formControlName="email">
                </div>
              </div>
              <div class="form-group row">
                <label for="poscode" class="col-sm-4 text-right form-form-control-label">{{gen.at_Poscode}}</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="poscode" placeholder="{{gen.ph_Poscode}}"
                    formControlName="poscode">
                </div>
              </div>
              <div
                class="form-group row {{(ModalFormContact.controls.description.status == 'INVALID')?'has-warning':''}}">
                <label for="description"
                  class="col-sm-4 text-right form-form-control-label">{{gen.at_description}}</label>
                <div class="col-sm-6">
                  <textarea type="text" class="form-control" id="description" placeholder="{{gen.ph_description}}"
                    formControlName="description"></textarea>
                </div>
              </div>
              <div class="form-group row {{(ModalFormContact.controls.telp2.status == 'INVALID')?'has-warning':''}}">
                <label for="telp2" class="col-sm-4 text-right form-form-control-label">{{gen.at_Telp2}}</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="telp2" placeholder="{{gen.ph_Telp2}}"
                    formControlName="telp2">
                </div>
              </div>
            </div>
          </div>

        </form>
        <div class="col-lg-12">
          <ts-bydatetime 
            [report_id]="62" 
            [data]="ModalFormContact.value"
          ></ts-bydatetime>
        </div>
      </div>
    </div>
  </div>
</div>