<div class="loading" *ngIf="!gen.app_component_id"></div>
<ts-notification [notifSuccess]='notif.success' [notifAlert]='notif.alert' [notifError]='notif.error'
  [notifInfo]='notif.info' [notifWarn]='notif.warn'> </ts-notification>

<div class="animated fadeIn display-inherit">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header font-larger">
          <a href="javascript:void(0)" class="ts-a-title" (click)="refreshComponent()"><i class=" fa fa-refresh"> </i>
            {{gen._title}}</a>
          <div class="card-trans-code ts-hide-mobile">
            <form class="form-horizontal" [formGroup]="formConversion_cost">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
                <input type="text" class="form-control ts-clear-bg ts-text-center" id="conversion_cost_code"
                  placeholder="{{gen._code}}" [readonly]="disableInput.conversion_cost_code"
                  formControlName="conversion_cost_code" [disabled]="true">
                <span class="input-group-addon" *ngIf="formConversion_cost.value.conversion_cost_id != ''">
                  <label class="switch switch-sm switch-text switch-info float-right mb-0">
                    <input type="checkbox"
                      (click)="isUseChange('conversion_cost', formConversion_cost.value.is_use, formConversion_cost.value.conversion_cost_id, 'conversion_cost_id')"
                      class="switch-input" formControlName="is_use">
                    <span class="switch-label" data-on="On" data-off="Off"></span>
                    <span class="switch-handle"></span>
                  </label>
                </span>
              </div>
            </form>
          </div>
        </div>
        <div class="card-block" style="padding: 0.5rem 1.25rem;">
          <div class="row">
            <div class="form-group col-sm-3 ts-show-mobile" style="margin-bottom: 0rem;">
              <form class="form-horizontal" [formGroup]="formConversion_cost">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
                  <input type="text" class="form-control ts-clear-bg ts-text-center" id="conversion_cost_code"
                    placeholder="{{gen._code}}" [readonly]="disableInput.conversion_cost_code"
                    formControlName="conversion_cost_code" [disabled]="true">
                  <span class="input-group-addon" *ngIf="formConversion_cost.value.conversion_cost_id != ''">
                    <label class="switch switch-sm switch-text switch-info float-right mb-0">
                      <input type="checkbox"
                        (click)="isUseChange('conversion_cost', formConversion_cost.value.is_use, formConversion_cost.value.conversion_cost_id, 'conversion_cost_id')"
                        class="switch-input" formControlName="is_use">
                      <span class="switch-label" data-on="On" data-off="Off"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </span>
                </div>
              </form>
            </div>
            <div class="form-group col-sm-12" style="margin-bottom: 0rem;">
              <button type="submit" class="btn btn-primary btn-sm2" [disabled]="!formConversion_cost.valid"
                *ngIf="formConversion_cost.value.conversion_cost_id == ''" (click)="conversion_costSubmit()"><i
                  class="fa fa-plus"></i> {{gen.btn_add}}</button>
              <button type="submit" class="btn btn-warning btn-sm2" [disabled]="!formConversion_cost.valid"
                *ngIf="formConversion_cost.value.conversion_cost_id != ''" (click)="conversion_costSubmit()"><i
                  class="fa fa-edit "></i> {{gen.btn_update}}</button>
              <button type="submit" class="btn btn-danger btn-sm2"
                *ngIf="formConversion_cost.value.conversion_cost_id != ''" [disabled]="!formConversion_cost.valid"
                (click)="conversion_costDelete()"><i class="fa fa-trash"></i> {{gen.btn_delete}}</button>
              <button type="submit" class="btn btn-secondary btn-sm2" (click)="clearAll()"><i class="fa fa-eraser"></i>
                {{gen.btn_clear}}</button>
              <button type="submit" (click)="printConsoleForm()" *ngIf="printConsole">Print Console</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="animated fadeIn display-inherit small-input">
  <div class="row">

    <div class="col-lg-4">
      <div class="card">
        <div class="card-block">
          <div class="row">

            <div class="form-group col-sm-12">
              <form class="form-horizontal" [formGroup]="formConversion_cost">

                <div class="form-group row">
                  <label for="conversion_cost_code"
                    class="col-sm-4 text-right form-form-control-label">{{gen.at_code}}</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="conversion_cost_code" placeholder="{{gen.ph_code}}"
                      [readonly]="disableInput.conversion_cost_code" formControlName="conversion_cost_code">
                  </div>
                </div>
                <div
                  class="form-group row {{(formConversion_cost.controls.conversion_cost.status == 'INVALID')?'has-warning':''}}">
                  <label for="conversion_cost"
                    class="col-sm-4 text-right form-form-control-label">{{gen.at_conversion_cost}}</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="conversion_cost"
                      placeholder="{{gen.ph_conversion_cost}}" formControlName="conversion_cost">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="currency_id"
                    class="col-sm-4  text-right form-form-control-label">{{gen.at_currency}}</label>
                  <div class="col-sm-8">
                    <currency id="currency_id" [classInput]="''" (setCurrencyData)="setCurrencyData($event)"></currency>
                  </div>
                </div>
                <div
                  class="form-group row {{(formConversion_cost.controls.cost.status == 'INVALID')?'has-warning':''}}">
                  <label for="cost" class="col-sm-4 text-right form-form-control-label">{{gen.at_cost}}</label>
                  <div class="col-sm-8">
                    <input currencyMask type="tel" [options]="moneyOption" class="form-control" id="cost"
                      placeholder="{{gen.ph_cost}}" formControlName="cost">
                  </div>
                </div>
                <div class="form-group row {{(formConversion_cost.controls.uom.status == 'INVALID')?'has-warning':''}}">
                  <label for="uom" class="col-sm-4 text-right form-form-control-label">{{gen.at_uom}}</label>
                  <div class="col-sm-8">
                    <ng-select bindValue="value" [items]="uomData" formControlName="uom"> </ng-select>
                  </div>
                </div>
                <div
                  class="form-group row {{(formConversion_cost.controls.account_id.status == 'INVALID')?'has-warning':''}}">
                  <label for="account_id" class="col-sm-4 text-right form-form-control-label">{{gen.at_account}}</label>
                  <div class="col-sm-8">
                    <ng-select bindValue="value" [items]="accountData" formControlName="account_id"> </ng-select>
                  </div>
                </div>
                <div
                  class="form-group row {{(formConversion_cost.controls.description.status == 'INVALID')?'has-warning':''}}">
                  <label for="description"
                    class="col-sm-4 text-right form-form-control-label">{{gen.at_description}}</label>
                  <div class="col-sm-8">
                    <textarea type="text" class="form-control" id="description" placeholder="{{gen.ph_description}}"
                      formControlName="description"></textarea>
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="card">
        <div class="card-block">
          <div class="row">

            <div class="table-responsive"></div>
            <table class="table table-responsive table-hover table-outline mb-0">
              <thead class="thead-default">
                <tr class="text-center">
                  <th><i class="fa fa-sort-numeric-asc"></i></th>
                  <th>{{gen.th_action}}</th>
                  <th>{{gen.th_conversion}}</th>
                  <th>{{gen.th_cost}}</th>
                  <th>{{gen.th_uom}}</th>
                  <th>{{gen.th_account}}</th>
                  <th>{{gen.th_description}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of conversion_costData; let i = index">
                  <td class="text-center">{{i+1}}</td>
                  <td><button class="btn btn-warning btn-sm"
                      (click)="editConversion_cost(item)">{{gen.td_edit}}</button></td>
                  <td [ngClass]="(item.is_use=='0')?'ts-red':''">{{item.conversion_cost}}</td>
                  <td class="text-center">{{item.cost}}</td>
                  <td class="text-center">{{item.uom}}</td>
                  <td class="text-center">{{item.account}}</td>
                  <td>{{item.description}}</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="animated fadeIn display-inherit">
  <div class="row">
    <div class="col-lg-12">
      <ts-bydatetime 
        [report_id]="27"  
        [data]="formConversion_cost.value"
      ></ts-bydatetime>
    </div>
  </div>
</div>