.small-input .form-group {
     margin-bottom: 0rem !important; 
}

@media screen and (max-width: 600px) {
  #hidewhenmobile {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
    overflow: auto;
  }
  
}

.height100{
  height: 100%;
}