<div class="loading" *ngIf="!gen.app_component_id"></div>
<ts-notification [notifSuccess]='notif.success' [notifAlert]='notif.alert' [notifError]='notif.error'
  [notifInfo]='notif.info' [notifWarn]='notif.warn'> </ts-notification>

<div class="animated fadeIn display-inherit">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header font-larger">
          <a href="javascript:void(0)" class="ts-a-title" (click)="refreshComponent()"><i class=" fa fa-refresh"> </i>
            {{gen._title}}</a>
          <div class="card-trans-code ts-hide-mobile">
            <form class="form-horizontal" [formGroup]="formStandard_cost">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
                <input type="text" class="form-control ts-clear-bg ts-text-center" id="standard_cost_code"
                  placeholder="{{gen._code}}" [readonly]="disableInput.standard_cost_code"
                  formControlName="standard_cost_code" [disabled]="true">
                <span class="input-group-addon" *ngIf="formStandard_cost.value.standard_cost_id != ''">
                  <label class="switch switch-sm switch-text switch-info float-right mb-0">
                    <input type="checkbox"
                      (click)="isUseChange('standard_cost', formStandard_cost.value.is_use, formStandard_cost.value.standard_cost_id, 'standard_cost_id')"
                      class="switch-input" formControlName="is_use">
                    <span class="switch-label" data-on="On" data-off="Off"></span>
                    <span class="switch-handle"></span>
                  </label>
                </span>
              </div>
            </form>
          </div>
        </div>
        <div class="card-block" style="padding: 0.5rem 1.25rem;">
          <div class="row">
            <div class="form-group col-sm-3 ts-show-mobile" style="margin-bottom: 0rem;">
              <form class="form-horizontal" [formGroup]="formStandard_cost">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
                  <input type="text" class="form-control ts-clear-bg ts-text-center" id="standard_cost_code"
                    placeholder="{{gen._code}}" [readonly]="disableInput.standard_cost_code"
                    formControlName="standard_cost_code" [disabled]="true">
                  <span class="input-group-addon" *ngIf="formStandard_cost.value.standard_cost_id != ''">
                    <label class="switch switch-sm switch-text switch-info float-right mb-0">
                      <input type="checkbox"
                        (click)="isUseChange('standard_cost', formStandard_cost.value.is_use, formStandard_cost.value.standard_cost_id, 'standard_cost_id')"
                        class="switch-input" formControlName="is_use">
                      <span class="switch-label" data-on="On" data-off="Off"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </span>
                </div>
              </form>
            </div>
            <div class="form-group col-sm-12" style="margin-bottom: 0rem;">
              <button type="submit" class="btn btn-primary btn-sm2" [disabled]="!formStandard_cost.valid"
                *ngIf="formStandard_cost.value.standard_cost_id == ''" (click)="formStandard_costSubmit()"><i
                  class="fa fa-plus"></i> {{gen.btn_add}}</button>
              <button type="submit" class="btn btn-warning btn-sm2" [disabled]="!formStandard_cost.valid"
                *ngIf="formStandard_cost.value.standard_cost_id != ''" (click)="formStandard_costSubmit()"><i
                  class="fa fa-edit "></i> {{gen.btn_edit}}</button>
              <button type="submit" class="btn btn-danger btn-sm2"
                *ngIf="formStandard_cost.value.standard_cost_id != ''" (click)="Standard_costDelete()"><i
                  class="fa fa-trash"></i> {{gen.btn_delete}}</button>
              <button type="submit" class="btn btn-success btn-sm2" (click)="modalShow2()"><i class="fa fa-search"></i>
                {{gen.btn_search}}</button>
              <button type="submit" class="btn btn-secondary btn-sm2" (click)="clearAll()"><i class="fa fa-eraser"></i>
                {{gen.btn_clear}}</button>
              <button type="submit" (click)="printConsoleForm()" *ngIf="printConsole">Print Console</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="animated fadeIn display-inherit">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-block">
          <form class="form-horizontal" [formGroup]="formStandard_cost" (ngSubmit)="formStandard_costSubmit()">

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label for="standard_cost_code"
                    class="col-sm-4 text-right form-form-control-label">{{gen.at_code}}</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="standard_cost_code" placeholder="{{gen.ph_code}}"
                      [readonly]="disableInput.standard_cost_code" formControlName="standard_cost_code">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="datetime" class="col-sm-4 text-right form-form-control-label">{{gen.at_date}}</label>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <input type="date" class="w100 form-control" formControlName="effective_date">
                    </div>
                  </div>
                </div>

                <div
                  class="form-group row {{(formStandard_cost.controls.description.status == 'INVALID')?'has-warning':''}}">
                  <label for="description"
                    class="col-sm-4 text-right form-form-control-label">{{gen.at_description}}</label>
                  <div class="col-sm-6">
                    <textarea type="text" class="form-control" id="description" placeholder="{{gen.ph_description}}"
                      formControlName="description"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <button type="submit" class="btn btn-primary" (click)="modalShow('')">{{gen.btn_add_inventory}}</button>
          <div class="vertical-scroll" style="max-height: 100%">
            <table class="table table-responsive table-striped table-sm">
              <thead>
                <tr class="text-center">
                  <th>{{gen.th_action}}</th>
                  <th>{{gen.th_no}}</th>
                  <th>{{gen.th_conversion_cost}}</th>
                  <th>*(satuan</th>
                  <th>*(matauang</th>
                  <th>{{gen.th_new_cost}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of modalStandardCosts; let i = index;">
                  <td>
                    <button ngClass="btn btn-warning btn-sm"
                      (click)="modalShow(item); $event.preventDefault()">{{gen.td_edit}}</button>
                    <button ngClass="btn btn-success btn-sm"
                      (click)="standardCostDetailDelete(i); $event.preventDefault()"><i
                        class="fa fa-trash-o"></i></button>
                  </td>
                  <td>{{i+1}}</td>
                  <td>{{item.conversion_cost}}</td>
                  <td>{{item.uom}}</td>
                  <td>{{item.currency_id}}</td>
                  <td>{{item.new_cost | number:'.2-2'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="animated fadeIn display-inherit">
  <div class="row">
    <div class="col-lg-12">
      <ts-bydatetime 
        [report_id]="30" 
        [data]="formStandard_cost.value"
      ></ts-bydatetime>
    </div>
  </div>
</div>

<div bsModal #childModal="bs-modal" class="modal  fade" [config]="{'backdrop':'static', 'keyboard': false}"
  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title">{{ModalHeader}}</h5>
        <button class="btn btn-outline-danger" (click)="childModal.hide()" aria-label="Close"
          type="button">{{gen.btn_closeM1}}</button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" [formGroup]="ModalformStandard_cost" (ngSubmit)="ModalFormSubmit()">


          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label for="conversion_cost_id"
                  class="col-sm-4 text-right form-form-control-label">{{gen.at_conversion_costM1}}</label>
                <div class="col-sm-6">
                  <ng-select bindValue="value" [items]="conversionCostData" formControlName="conversion_cost_id"
                    (change)="conversionCostAutofilled($event)"> </ng-select>
                </div>
              </div>

              <div class="form-group row">
                <label for="uom" class="col-sm-4 text-right form-form-control-label">{{gen.at_uomM1}}</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="uom" placeholder="*(uom" [readonly]="disableInput.uom"
                    formControlName="uom">
                </div>
              </div>

              <div
                class="form-group row {{(ModalformStandard_cost.controls.new_cost.status == 'INVALID')?'has-warning':''}}">
                <label for="new_cost" class="col-sm-4 text-right form-form-control-label">{{gen.at_new_costM1}}</label>
                <div class="col-sm-6">
                  <input currencyMask type="tel" [options]="moneyOption" class="form-control" id="new_cost"
                    placeholder="{{gen.ph_new_costM1}}" formControlName="new_cost">
                </div>
              </div>

              <div
                class="form-group row {{(ModalformStandard_cost.controls.description.status == 'INVALID')?'has-warning':''}}">
                <label for="description"
                  class="col-sm-4 text-right form-form-control-label">{{gen.at_descriptionM1}}</label>
                <div class="col-sm-6">
                  <textarea type="text" class="form-control" id="description" placeholder="{{gen.placeholder}}"
                    formControlName="description"></textarea>
                </div>
              </div>

              <div class="form-group row" style="text-align:left">
                <div class="offset-sm-2 col-sm-6">
                  <button type="submit" class="btn btn-primary" [disabled]="!ModalformStandard_cost.valid"
                    *ngIf="ModalformStandard_cost.value.standard_cost_detail_id == ''">{{gen.btn_addM1}}</button>
                  <button type="submit" class="btn btn-warning" [disabled]="!ModalformStandard_cost.valid"
                    *ngIf="ModalformStandard_cost.value.standard_cost_detail_id != ''">{{gen.btn_editM2}}</button>
                </div>
              </div>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>


<div bsModal #childModal2="bs-modal" class="modal  fade" [config]="{'backdrop':'static', 'keyboard': false}"
  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{gen._titleM2}}</h5>
        <button class="btn btn-outline-danger" (click)="childModal2.hide()" aria-label="Close"
          type="button">{{gen.btn_closeM2}}</button>
      </div>
      <div class="modal-body-full">
        <div class="vertical-scroll" style="max-height: 100%">
          <ng2-smart-table (rowSelect)="httpService.modal_scroll_top($event)" [settings]="settings" [source]="source" (delete)="modal2Select($event)"></ng2-smart-table>
        </div>
      </div>
    </div>
  </div>
</div>