<div class="loading" *ngIf="!gen.app_component_id"></div>
<ts-notification [notifSuccess]='notif.success' [notifAlert]='notif.alert' [notifError]='notif.error'
  [notifInfo]='notif.info' [notifWarn]='notif.warn'> </ts-notification>

<div class="animated fadeIn display-inherit">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header font-larger">
          <a href="javascript:void(0)" class="ts-a-title" (click)="refreshComponent()"><i class="fa fa-cc"> </i>
            {{gen._title}}</a>
        </div>
        <div class="card-block">
          <div class="vertical-scroll" style="max-height: 100%">
            <button ngClass="status-button btn btn-sm btn-primary"
              (click)="modalShow('')">{{gen.btn_new_account}}</button>
            <tabset *ngFor="let item of tabset; let i = index;">
              <tab heading="All Accounts" (select)="activeTab('', i)" [active]="tabActive == (0)">
                <table class="table table-responsive table-sm">
                  <thead>
                    <tr class="text-center">
                      <th>{{gen.th_action}}</th>
                      <th>{{gen.th_code}}</th>
                      <th>{{gen.th_name}}</th>
                      <th>{{gen.th_type}}</th>
                      <th>{{gen.th_currency}}</th>
                      <th>{{gen.th_tax}}</th>
                      <th>{{gen.th_linked}}</th>
                      <th>{{gen.th_ballance}}</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of accounts; let i = index;">
                    <tr *ngFor="let item1 of item.accounts; let i = index;"
                      [ngClass]="(item1.is_header=='1')?'colored':''">
                      <td>
                        <button ngClass="status-button btn btn-sm btn-warning"
                          (click)="modalShow(item1)">{{gen.td_edit}}</button>
                      </td>
                      <td>{{item.account_category_code}}-{{item1.account_code}}</td>
                      <td>{{item1.account}}</td>
                      <td>{{item1.account_category_type}}</td>
                      <td>{{item1.currency_id}}</td>
                      <td>No</td>
                      <td>No</td>
                      <td>0000</td>
                    </tr>
                  </tbody>
                </table>
              </tab>
              <tab *ngFor="let item2 of accounts; let i = index;" [heading]="item2.account_category"
                (select)="activeTab(item, i+1)" [active]="tabActive == (i+1)">
                <table class="table table-responsive table-sm">
                  <thead>
                    <tr class="text-center">
                      <th>{{gen.th_action}}</th>
                      <th>{{gen.th_code}}</th>
                      <th>{{gen.th_name}}</th>
                      <th>{{gen.th_type}}</th>
                      <th>{{gen.th_currency}}</th>
                      <th>{{gen.th_tax}}</th>
                      <th>{{gen.th_linked}}</th>
                      <th>{{gen.th_ballance}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item1 of item2.accounts; let i = index;"
                      [ngClass]="(item1.is_header=='1')?'colored':''">
                      <td class="text-center">
                        <button ngClass="status-button btn btn-sm btn-warning"
                          (click)="modalShow(item1)">{{gen.td_edit}}</button>
                      </td>
                      <td>{{item2.account_category_code}}-{{item1.account_code}}</td>
                      <td>{{item1.account}}</td>
                      <td>{{item1.account_category_type}}</td>
                      <td>{{item1.currency_id}}</td>
                      <td>No</td>
                      <td>No</td>
                      <td>0000</td>
                    </tr>
                  </tbody>
                </table>
              </tab>
            </tabset>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL ACCOUNT DETAIL -->
<div bsModal #childModal="bs-modal" class="modal  fade" [config]="{'backdrop':'static', 'keyboard': false}"
  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title">{{gen.ModalHeader}}</h5>
        <button class="btn btn-outline-danger" (click)="childModal.hide()" aria-label="Close"
          type="button">{{gen.btn_closeModal1}}</button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" [formGroup]="ModalFormAccount" (ngSubmit)="ModalFormSubmit()">

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label for="account_category_id"
                  class="col-sm-4 text-right form-form-control-label">{{gen.at_categoryModal1}}</label>
                <div class="col-sm-6">
                  <select class="form-control" id="account_category_id" formControlName="account_category_id"
                    (change)="categoryChange()">
                    <option *ngFor="let item of category" value="{{item.account_category_id}}">{{item.account_category}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label for="account_category_type_id"
                  class="col-sm-4 text-right form-form-control-label">{{gen.at_typeModal1}}</label>
                <div class="col-sm-6">
                  <select class="form-control" id="account_category_type_id" formControlName="account_category_type_id"
                    (change)="categorytypeChange()">
                    <option *ngFor="let item of categoryType" value="{{item.account_category_type_id}}">
                      {{item.account_category_type}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label for="header" class="col-sm-4 text-right form-form-control-label">{{gen.at_headerModal1}}</label>
                <div class="col-sm-6" style="text-align:left">
                  <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" formControlName="is_header"><span>{{gen.at_thisisheaderModal2}} </span>
                  </label>
                </div>
              </div>

              <div
                class="form-group row {{(ModalFormAccount.controls.isAccountBank.status == 'INVALID')?'has-warning':''}}">
                <label for="isAccountBank"
                  class="col-sm-4 text-right form-form-control-label">{{gen.at_bank_accountModal1}}</label>
                <div class="col-sm-6" style="text-align:left">
                  <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" formControlName="isAccountBank"><span>{{gen.at_bankaccountModal2}} </span>
                  </label>
                </div>
              </div>

              <div class="form-group row">
                <label for="account_code"
                  class="col-sm-4 text-right form-form-control-label">{{gen.at_numberModal1}}</label>
                <div class="col-sm-6">
                  <div class="input-group">
                    <span class="input-group-addon">{{ModalFormAccount.value.account_category_id}}-</span>
                    <input type="number" class="form-control" id="account_code"
                      placeholder="{{gen.ph_account_numberModal1}}" [readonly]="disableInput.account_code"
                      formControlName="account_code" (blur)="checkAccountCode($event)">
                    <span class="input-group-addon" *ngIf="ModalFormAccount.value.account_id != ''">
                      <label class="switch switch-sm switch-text switch-info float-right mb-0">
                        <input type="checkbox"
                          (click)="isUseChange('account', ModalFormAccount.value.is_use, ModalFormAccount.value.account_id, 'account_id')"
                          class="switch-input" formControlName="is_use">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                      </label>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row {{(ModalFormAccount.controls.account.status == 'INVALID')?'has-warning':''}}">
                <label for="account"
                  class="col-sm-4 text-right form-form-control-label">{{gen.at_accountModal1}}</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="account" placeholder="{{gen.ph_accountModal1}}"
                    formControlName="account">
                </div>
              </div>

              <div class="form-group row ">
                <label for="account"
                  class="col-sm-4 text-right form-form-control-label">{{gen.at_currencyModal1}}</label>
                <div class="col-sm-6">
                  <currency (setCurrency)="ModalSetCurrency($event)"></currency>
                </div>
              </div>

              <div
                class="form-group row {{(ModalFormAccount.controls.description.status == 'INVALID')?'has-warning':''}}">
                <label for="description"
                  class="col-sm-4 text-right form-form-control-label">{{gen.at_descriptionModal1}}</label>
                <div class="col-sm-6">
                  <textarea type="text" class="form-control" id="description" placeholder="{{gen.ph_descriptionModal1}}"
                    formControlName="description"></textarea>
                </div>
              </div>

              <div class="form-group row" style="text-align:left">
                <div class="offset-sm-4 col-sm-6">
                  <button type="submit" class="btn btn-primary" [disabled]="!ModalFormAccount.valid"
                    *ngIf="ModalFormAccount.value.account_id == ''">{{gen.btn_addModal1}}</button>
                  <button type="submit" class="btn btn-warning" [disabled]="!ModalFormAccount.valid"
                    *ngIf="ModalFormAccount.value.account_id != ''">{{gen.btn_editModal1}}</button>
                  <button class="btn btn-danger" (click)="ModalDeleteAccount(); $event.preventDefault()"
                    *ngIf="ModalFormAccount.value.account_id != ''">{{gen.btn_deleteModal1}}</button>
                  <button class="btn btn-success" (click)="modal2Show(); $event.preventDefault()" *ngIf="isAccountBank"
                    [disabled]="ModalFormAccount.value.account_id == ''">{{gen.btn_dataBankModal1}}</button>
                </div>
              </div>
            </div>
          </div>

        </form>

        <div class="col-lg-12">
          <ts-bydatetime 
            [report_id]="16" 
            [data]="ModalFormAccount.value"
          ></ts-bydatetime>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- MODAL ACCOUNT BANK -->
<div bsModal #childModal2="bs-modal" class="modal  fade" [config]="{'backdrop':'static', 'keyboard': false}"
  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{gen._modal2title}}</h5>
        <button class="btn btn-outline-danger" (click)="childModal2.hide()" aria-label="Close"
          type="button">{{gen.btn_closeModal2}}</button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" [formGroup]="ModalFormBank" (ngSubmit)="Modal2FormSubmit()">

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row {{(ModalFormBank.controls.bank_name.status == 'INVALID')?'has-warning':''}}">
                <label for="bank_name"
                  class="col-sm-4 text-right form-form-control-label">{{gen.at_bank_nameModal2}}</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="bank_name" placeholder="{{gen.ph_banknameModal2}}"
                    formControlName="bank_name">
                </div>
              </div>

              <div
                class="form-group row {{(ModalFormBank.controls.account_name.status == 'INVALID')?'has-warning':''}}">
                <label for="account_name"
                  class="col-sm-4 text-right form-form-control-label">{{gen.at_account_nameModal2}}</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="account_name" placeholder="{{gen.ph_accountnameModal2}}"
                    formControlName="account_name">
                </div>
              </div>

              <div
                class="form-group row {{(ModalFormBank.controls.account_number.status == 'INVALID')?'has-warning':''}}">
                <label for="account_number"
                  class="col-sm-4 text-right form-form-control-label">{{gen.at_account_numberModal2}}</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="account_number"
                    placeholder="{{gen.ph_accountnumberModal2}}" formControlName="account_number">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row {{(ModalFormBank.controls.bank_branch.status == 'INVALID')?'has-warning':''}}">
                <label for="bank_branch"
                  class="col-sm-4 text-right form-form-control-label">{{gen.at_bank_branchModal2}}</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="bank_branch" placeholder="{{gen.ph_bankbranchModal2}}"
                    formControlName="bank_branch">
                </div>
              </div>

              <div class="form-group row {{(ModalFormBank.controls.description.status == 'INVALID')?'has-warning':''}}">
                <label for="description"
                  class="col-sm-4 text-right form-form-control-label">{{gen.at_descriptionModal2}}</label>
                <div class="col-sm-6">
                  <textarea type="text" class="form-control" id="description" placeholder="{{gen.ph_descriptionModal2}}"
                    formControlName="description"></textarea>
                </div>
              </div>

              <div class="form-group row" style="text-align:left">
                <div class="offset-sm-4 col-sm-6">
                  <button type="submit" class="btn btn-primary" [disabled]="!ModalFormBank.valid"
                    *ngIf="ModalFormBank.value.account_bank_id == ''">{{gen.btn_addModal2}}</button>
                  <button type="submit" class="btn btn-warning" [disabled]="!ModalFormBank.valid"
                    *ngIf="ModalFormBank.value.account_bank_id != ''">{{gen.btn_editModal2}}</button>
                  <button class="btn btn-danger" (click)="ModalDeleteBank(); $event.preventDefault()"
                    *ngIf="ModalFormBank.value.account_bank_id != ''">{{gen.btn_deleteModal2}}</button>
                </div>
              </div>
            </div>
          </div>

        </form>

        <div class="col-lg-12">
          <ts-bydatetime 
            [report_id]="75" 
            [data]="ModalFormBank.value"
          ></ts-bydatetime>
        </div>

      </div>
    </div>
  </div>
</div>