.card-info:hover{
    background-color: #29abe2;
}

.card-success:hover{
    background-color: #2d904f;
}

.card-warning:hover{
    background-color: #ffdb39;
}

.card-primary:hover{
    background-color: #73c8e6;
}

.pointer{
    cursor:pointer
}

.turquoise{
    background-color: #1abc9c;
}
.turquoise:hover{
    background-color: #16a085;
}

.emerald{
    background-color: #2ecc71;
}
.emerald:hover{
    background-color: #27ae60;
}

.peter-river{
    background-color: #3498db;
}
.peter-river:hover{
    background-color: #2980b9;
}

.emethyst{
    background-color: #9b59b6;
}
.emethyst:hover{
    background-color: #8e44ad;
}

.wet-asphalt{
    background-color: #34495e;
}
.wet-asphalt:hover{
    background-color: #2c3e50;
}

.sun-flower{
    background-color: #f1c40f;
}
.sun-flower:hover{
    background-color: #f39c12;
}

.carrot{
    background-color: #e67e22;
}
.carrot:hover{
    background-color: #d35400;
}

.alizarin{
    background-color: #e74c3c;
}
.alizarin:hover{
    background-color: #c0392b;
}

.clouds{
    background-color: #969696;
}
.clouds:hover{
    background-color: #656363;
}

.concrete{
    background-color: #95a5a6;
}
.concrete:hover{
    background-color: #7f8c8d;
}
